ul.topnav {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #012843;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #002f09;}

ul.topnav li a.active {background-color: #4caf50d6;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

.menu{
	background-color: #012843;
}


